@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');

* {
    font-family: 'Tilt Prism', "cursive";
}


.keyboard {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #004028;
    height: 200px;
}